// Mixins

// Media Queries
@mixin media-min($min) {
	@media (min-width: $min) {
		@content;
	}
}

@function calculateMqSize($size) {
	$maxSize: $size - 1px;
	@return $maxSize;
}

@mixin media-max($max) {
	@media (max-width: calculateMqSize($max)) {
		@content;
	}
}

@mixin media-between($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

// Letter Spacing
@function ls($size) {
	$va: calc($size / 1000);
	@return $va * 1em;
}

// Font Smoothing
@mixin fontSmoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin contain($size: $lg, $paddingTop: null, $paddingBottom: null) {
	padding-right: calc(40px + (50vw - (#{$size} / 2)));
	padding-left: calc(40px + (50vw - (#{$size} / 2)));

	@if ($paddingTop) {
		padding-top: $paddingTop;
		padding-bottom: $paddingTop;
		@if ($paddingBottom) {
			padding-top: $paddingTop;
			padding-bottom: $paddingBottom;
		}
	}
}
