$beige: #faf0ca;
$mainYellow: #f4d35e;
$mainBlue: #0d3b66;
$lightOrange: #ee964b;
$darkOrange: #f95738;

$olive: #e7e8e1;
$dark-olive: #beceb8;
$green: #91b185;

$gray-1000: #1a1b15;
$color-light: #fff;
$color-dark: #000;

$color-primary: $olive;
$color-primary-alt: $dark-olive;
$color-secondary: $green;
$font-primary: "Playfair Display", serif;
$font-secondary: "Lobster", cursive;

$font-weight-regular: 400;
$font-weight-bold: 700;

$xxs: 450px;
$xs: 600px;
$sm: 768px;
$md: 980px;
$lg: 1230px;
$nav-bar-height: 50px;

$speed-fast: 0.3s;
$speed-med: 0.5s;
