$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;


$olive: #E7E8E1;

$gray-1000: #1A1B15;
$color-light: #fff; 

$color-primary: $olive;
$font-primary: 'Playfair Display', serif;

$font-weight-regular: 400;

$speed-fast: .2s;