.site-footer {
	background-color: $gray-1000;
	color: $color-light;
	@include contain($lg, 100px);
	@include media-max($lg) {
		padding: 80px 40px;
	}
	@include media-max($sm) {
		padding: 60px 20px;
	}
	.f-social {
		.social-icons {
			margin-bottom: 50px;
			display: flex;
			justify-content: center;
			a {
				margin-right: 30px;
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
	.footer-nav {
		margin: 0 0 50px 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		li {
			a {
				color: $color-light;
				text-decoration: none;
				font-family: $font-primary;
				font-weight: $font-weight-regular;
				font-size: 15px;
				line-height: 1.35em;
				position: relative;
				padding: 0 10px;
				border-right: 1px solid $color-light;
				&:first-of-type {
					border-left: 1px solid $color-light;
				}
				&:hover {
					color: $color-secondary;
				}
			}
		}
	}
	.cat-cup {
		display: flex;
		justify-content: center;
		margin: 0 auto 50px;
		background: none;
		border: none;
		svg {
			width: 100px;
			max-width: 100%;
			&.show-cat {
				.cat {
					transform: translateY(0);
					transition: all $speed-fast ease-in-out;
				}
			}
			.cat {
				transform: translateY(15px);
				// transition: all $speed-med ease-in-out;
			}
		}
	}
	.f-copyright {
		text-align: center;
		font-family: $font-primary;
		font-weight: $font-weight-regular;
		font-size: 15px;
		line-height: 1.35em;
		a {
			color: $color-light;
			&:hover {
				color: $color-secondary
			}
		}
	}
  
}
